html {
    width: 250px;  /* max: 800px */
    height: 200px; /* max: 600px */
}

body {
    display: block;
    padding: 0;
    margin: 0;
}

#title_div {
    background-color: grey;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(96, 96, 96);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: 400;
}

.title {
    margin: 0;
}

#password {
    text-align: center;
    font-size: 1.25em;
    font-family: monospace, monospace;
}

#buttons {
    text-align: center;
}

.button {
    background-color: #e68701;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:active {
    background-color: #aa6300;
}

#checkbox_item {
    display: inline-flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}