html {
    width: 300px;  /* max: 800px */
    height: 200px; /* max: 600px */
}

body {
    display: block;
    padding: 0;
    margin: 0;
}

#title_div {
    background-color: grey;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(96, 96, 96);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: 400;
}

.title {
    margin: 0;
}

#password {
    text-align: center;
    font-size: 1.25em;
    font-family: monospace, monospace;
}

#password p {
    word-wrap: break-word;
}

#buttons {
    text-align: center;
}

.button {
    display: inline-block;
    text-align: center;

    padding: 10px 15px;
    margin: 4px 2px;

    background-color: #e68701;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #d87f03;
}

.button:active {
    background-color: #aa6300;
}

#checkbox_item {
    display: inline-flex;
    text-align: center;
    align-items: center;

    max-height: 38px;
    padding: 0px 10px;
    margin: 4px 2px;

    background-color: #e68701;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    color: white;
    text-decoration: none;
    font-size: 16px;
}

#checkbox_item:hover {
    background-color: #d87f03;
    cursor: default;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#row {
    text-align: center;
}

.slidecontainer {
    width: 100%;
    display: inline-flex;
    margin-bottom: 20px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 190px;
    margin-right: 8px;
    height: 30px;
    background: #e68701;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: none;
    background: white;
    cursor: pointer;
}

.slider:hover {
    background-color: #d87f03; 
}

.slidecontainer p {
    display: inline-flex;
    text-align: center;
    align-items: center;

    background-color: #e68701;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    padding-left: 10px;
    min-width: 80px;
    margin: 0;

    color: white;
    text-decoration: none;
    font-size: 16px;
}